.all{
  min-height: 100%;
}

.profile1 {
background-color: #f9f9f9;
float: left;
width: 25%;

margin-top:-10px;
margin-right: 20px;
margin-left: -10px;
position: absolute;
bottom: 0;
top: 0px;
}
.logo {
margin-top: 15%;
margin-left: 17%;
margin-bottom: 30px;
align-items:center;
}

.profilelink {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-style: normal;
font-size: 4mm;
font-weight: bold;
color: darkcyan;
margin-left: 23px;
border-style: none;
text-decoration-line: none;
margin-top: 15px;
text-align:center;
cursor: pointer;
}
.timeworklink {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-style: normal;
font-size: 4mm;
font-weight: bold;
color: darkcyan;
margin-left: 20px;
padding-top: 0px;
border-style: none;
text-decoration-line: none;
cursor: pointer;

}
.aboutlink {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-style: normal;
font-size: 4mm;
font-weight: bold;
color: darkcyan;
margin-left: 20px;
border-style: none;
text-decoration-line: none;
margin-top: 22px;
text-align:center;
}
.user {
margin-bottom: 20px;
margin-left: 30px;
margin-top: 15px;
}
.list {
margin-top: 13px;
margin-left: 46px;
}
.info {
margin-top: 20px;
margin-left: 46px;
}
.container-1 {
padding: 5px;
border: none;
background: none;
display: flex;
text-align: center;
font-size: 20px;
font-family: Roboto;
border-radius: 20px;
padding-top: 15px;
padding-left: 20px;
}
.container-2 {
border: none;
background: none;
display: flex;
font-size: 20px;
font-family: Roboto;
color: grey;
}
.container-3 {
padding: 0;
border: none;
background: none;
display: flex;
text-align: justify;
font-family: Roboto;
}
.navigation {
margin-left: 30px;
margin-top: 20px;
}
.button {
background-color: #DE3939;
border-radius: 15px;
border: 2px solid;
width: 110px;
height: 35px;
position: absolute;
bottom: 0px;
float: inline-end;
color: white;
font-weight: normal;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
bottom: 60px;
left: 154px;
font-size:14px;
}




.button:hover {
background-color: red;
box-shadow: red;
text-shadow: seashell;
}
.version {
margin-left: 170px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 14px;
color: darkcyan;
bottom: 20px;
position: absolute;
bottom: 20px;
}
.sidebar{
    height: 100%;
    width: 427px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
  
    padding-top: 16px;
  
}
.button:hover{
  background-color: #445352;
  color: white;
}
.sidebar a{
  padding: 40px 8px 6px 60px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  color:#1D9390;
  display: block;
  font-family:Roboto;
  font-weight: 600;
}
i{
  margin-right: 20px;
}
.llogo{
  top: 76px;
  left: 66px;
  width:198px;
  height: 44px;
  position: absolute;
  background: url(./images/SDSs\ 1.png);
}
.sidebar2{
  top: 8.8rem;
  left: 30px;
  position: absolute;

}
hr{
  position: absolute;
  width: 420px;
  border: 0.3px,solid,#d6d6d6;
  opacity:0.6;
  top: 650px;
  height: 0;
}
.header-profile{
  position: absolute;
  color: #445352;
  font-weight: 700;
  font-size: 36px;
  width: 130px;
  height: 50px;
  left: 500px;
  top: 2px;
  font-family: Roboto;
  text-decoration: underline;
  text-decoration-color: #1D9390;
  text-decoration-thickness: 4px;
}
hr.hr2{
  position: absolute;
  left: 500px;
  height: 0;
  width: 1130px;
  left: 400px;
  top: 80px;
  border: 0.3px solid  #d6d6d6;
}
.icons-header i{
 position: absolute;
 font-size: 35px;
  left: 1400px;
  top:50px ;
  color: #1D9390;}

form{
  position: absolute;
  top: 280px;
  left: 550px;
  
 
}
input[type=email]{
  width: 89%;
}
input[type=password]{
  width: 89%;
}
#wrapperDiv{
  margin-left: -20px;
}

input,label{
  display: block;
  padding: 10px;
}
input{
  border-radius: 10px;
  height: 10px;
}
label{
  color: #1D9390;
  font-family: Roboto;
  font-weight: 550;
}

form input {
  margin: 5px 10px 5px 0;
  padding: 10px;
 
}

a:link{
  text-decoration: none!important;
}
.button2{
  position: absolute;
  left: 130px;
  margin-top: 10px;
  font-family: Roboto;
  color: #1D9390;
  width: 150px;
  font-size: 15px;
  padding:15px ;
  border-radius:10px;
  border: none;
  cursor: pointer;
  background-color:#1D9390;
  color: white ;

}
.button2:hover{
  background-color:#002ead;
      transition: 0.7s;
}
.survey{
  position: absolute;
  left: 900px;
}
#AlertDiv {
  top:220px;
  left:200px;
  width:290px;
  height:150px;
  color:black;
  position:absolute;
  text-align:center;
  border-style: ridge;
  border-radius: 10px;
  background-color: #f3f3f3;
 
}

#AlertDiv h1 {
  font-family: Roboto;
  color: #445352;
  line-height: 25px;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}
.text{
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border: ridge;
  width: 30px;
}
.form-control{
  padding: 6px;
  border: ridge;
  border-radius: 10px;
  margin-top: 10px;
  left: 80px;
  position:absolute;
  text-align: center;
  align-items: center;
}
.button3{
  position: absolute;
  left: 190px;
  top: 87px;
  margin-top: 10px;
  font-family: Roboto;
  color: #1D9390;
  width: 90px;
  font-size: 11px;
  padding:10px ;
  border-radius:10px;
  border: none;
  cursor: pointer;
  background-color:#1D9390;
  color: white ;
}
.button3:hover{
  background-color: #445352;
}
.frame{
 left: 63%;
  position: absolute;
  top: 50%;
  margin-right: 30px;
}